---
import Typography from "~/components/common/Typography.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Diario">
  <main class="container">
    <Typography as="h1" variant="h1">Capsules of Echoes</Typography>
  </main>
</Layout>
